* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: 
       url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Satoshi',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Satoshi,'Courier New',
    monospace;
} */

.SectionTitle {
  /* font: 'Satoshi-Variable'; */
  font-style: normal;
  font-size: 28px;
  color: #151418;
  font-weight: 900;
  margin-bottom: 3.5rem;
  letter-spacing: 0.15em;
  
}

.Container {
  width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
}